
  .center-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

.signIn{
  max-width: 85%;
  font-size: 15px;
    /* height: 90vh; */
    border-radius: 8px;
    padding: 30px 35px;
    box-shadow: 7.90519905090332px 15.81039810180664px 56.91743087768555px 0px rgb(44 43 125 / 10%);

}
.fpassword{
  display: flex;
  justify-content:flex-end;
  color: rgba(53, 104, 212, 1);
  ;
}

.buttons{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
  }


form .form-control{
  border: 1px solid #e4e2e2 !important ;
  background-color:  white !important;
  border-radius: 3.16208px !important;
 
}
.form-label, p{
  color: rgba(102, 102, 102, 1)  ;
} 
